{
  "AppFunction": {
    "SLACK_SIGNING_SECRET": "xxxxxx",
    "SLACK_BOT_TOKEN": "xxxxxx",
    "SLACK_APP_TOKEN": "xoxb-xxxxxx",
    "SLACK_BOT_ID": "xxxxxx",
    "OPENAPI_SECRET": "sk-xxxxxx"
  }
}
